* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: aqua;
  width: 500px;
  margin: 10px auto;
}

.header {
  display: flex;
  align-items: center;
}

h1 {
  padding: 20px;
}

.reset {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.increment {
  color: purple;
}

.increment:hover {
  color: blue;
}

.save {
  color: green;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 4px;
  color: orangered;
  border: 1px solid violet;
  box-shadow: 1px 1px 2px rgb(40, 46, 46);
}

.previous-entries {
  padding: 20px;
}
